:root {
    --primary-color: rgb(9, 49, 95);
    --secondary-color: rgba(114, 152, 184, 0.979);
    --tertiary-color: rgba(167, 173, 179, 0.979);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--tertiary-color)
  }


  header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px 10px;
      background-color: var(--secondary-color);
  }

  header h1 {
      font-family: 'Courier New', Courier, monospace;
      font-size: 42px;
      color: var(--primary-color);
      text-shadow: 0 0 6px  rgba(82, 110, 133, 0.979);
      padding: 0 0 0 10px;
  }

  header nav {
      margin: 10px 0;
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
  }

  header nav ul li a {
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px 10px;
      margin: 20px;
      text-decoration: none;
      font-size: 20px;
      color: var(--primary-color);
      text-shadow: 0 0 6px  rgba(82, 110, 133, 0.979);
      transition-property: all;
      transition-duration: 0.7s;
      transition-timing-function: ease-in-out;
  }

  header nav ul li a:hover {
      font-size: 24px;
      transition: 0.5s;
  }

  .hero {
      background-image: url(../images/port-light-hero2.jpg);
      background-size: cover;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-end;
  }    

  .hero h2 {
      font-family: 'Courier New', Courier, monospace;
      padding: 16px;
      margin: 0 0 15px 0;
      font-size: 36px;
      color: var(--secondary-color);
      background-color: var(--primary-color);
      opacity: 80%;
  }

  /* ABOUT ME */
  .main {
      margin: 0 auto 50px auto;
      display: flex;
  }


  .primary-title {
      font-family: 'Courier New', Courier, monospace;
      color: var(--primary-color);
      font-size: 24px;
      text-shadow: 0 0 6px  rgba(125, 130, 136, 0.979);
      flex: 1 10%;
      text-align: right;
      margin: 0 15px 0 0;
      padding: 50px;
      border-right: solid 2px;    
  }

  .content {
      margin: 50px auto;
      padding-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 90%;
  }

  .content-bio {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 17px;
    color: var(--primary-color);
  }

  .content-img {
      flex: 1 20%;
      margin: 0 20px;
      min-width: 200px;
  }

  .content-img img {
      max-width: 100%;
      border-radius: 15%;
  }

  .content-text {
      flex: 10;
  }

  .content-2 {
    flex: 2 65%;
    margin: 20px 30px;  
  }
  /* ABOUT ME END */
  
  /* PROJECTS */
  .project-wrapper {
      display: flex;
      justify-content: center;
      flex: 1 77%;
      margin: 0 auto;
      flex-wrap: wrap; 
      /* allows the grid to take up more space within the wrapper */
      width: 100vw;
      height: 50vh;
  }

  .project-grid {
      width: 50%;
      background-size: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;   
  }

  .pro-1 {
      /* the following bit allows image to scale to the gride and occupy all space */
      background: url(../images/runbuddyimg.png);
      background-size: cover;
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;     
  }

  .project-grid a {
      text-decoration: none;
      font-family: 'Courier New', Courier, monospace;
  }

  .pro-2 {
      background: url(../images/port-placeholder2.jpg);
      background-size: cover;
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
  }

  .pro-3 {
      background: url(../images/port-placeholder3.jpg);
      background-size: cover;
      grid-row: 3 /span 1;
      grid-column: 1 / span 1;
  }

  .pro-4 {
      background: url(../images/port-placeholder1.jpg);
      background-size: cover;
      grid-row: 2 / span 1;
      grid-column: 3 / span 1;
  }

  .pro-5 {
      background: url(../images/bluelava.jpg);
      background-size: cover;
      grid-row: 3 / span 1;
      grid-column: 2 / span 1;
  }

  .pic {
      border: 3px solid var(--primary-color);
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      overflow: hidden;
      border-radius: 50%;
  }

  .pic a {
      text-decoration: none;
      
      font-family: 'Courier New', Courier, monospace;
  }

  .pic:hover {
      opacity: 70%;
      transition: 0.5s;
  }

  .link-title {
    flex-wrap: wrap;
    margin: 0 0 30px 0;
    padding: 30px;
    font-size: 24px;
    color:var(--primary-color);
    background-color: var(--secondary-color);
    opacity: 85%;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
  }

  .link-title:hover  {
    opacity: 1;
    font-size: 40px;
    transition: 0.5s
  }

  .link-title-2 {
    flex-wrap: wrap;
    margin: 0 0 15px 0;
    padding: 15px;
    font-size: 16px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    opacity: 85%;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
  }

  .link-title-2:hover {
    opacity: 1;
    font-size: 22px;
    transition: 0.5s;
  }
  /* PROJECTS END */

  /* CONTACT ME */
  #links {
      list-style: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 25px 0;
  }

  #links a {
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      color: var(--primary-color);
      font-size: 20px;
      transition-property: all;
      transition-duration: 0.7s;
      transition-timing-function: ease-in-out;
  }

  #links a:hover {
      font-size: 24px;
      transition: 0.5s;
  }

  #phone {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    font-size: 20px;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }

  #phone:hover {
    font-size: 24px;
    transition: 0.5s;
  }

  /* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND TABLETS*/
  