* {
  box-sizing: border-box;
}

/*font-family: 'Play', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

.brand-logo {
  flex-wrap: wrap;
}

.linkText, .brand-logo {
  font-family: 'Play', sans-serif;
}

.content-img {
  margin: 18px 0 18px 0;
}

#aboutMe {
  margin: 15px 0 15px 0;
}

#aboutMeText {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

.row {
  margin: 5px;
  
}

.projectImg {
  width: 100%;
  margin: 10px 0 10px 0;
  
  
}

#headshot {
  border-radius: 50%;
}

